* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body {
  display: flex;
  width: 1440px;
  height: 800px;
  align-items: center;
  justify-content: center;
  background-color: hsl(30, 38%, 92%);
}

.container {
  display: flex;
  width: 600px;
  height: 450px;
  align-items: center;
}
.container img {
  display: flex;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.side-right {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 450px;
  background-color: rgb(255, 255, 255);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.side-right h3 {
  display: flex;
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 12px;
  display: flex;
  padding-left: 33px;
  padding-top: 33px;
  color: rgb(103, 103, 103);
}

.side-right h1 {
  display: flex;
  font-family: "Fraunces";
  font-weight: 700;
  font-size: 33px;
  padding-left: 33px;
  padding-top: 25px;
}

.side-right p {
  display: flex;
  font-family: "Montserrat";
  font-size: 14px;
  font-weight: 500;
  padding-left: 33px;
  padding-top: 29px;
  color: rgb(103, 103, 103);
}

.side-right h2 {
  display: flex;
  font-family: "Fraunces";
  font-size: 30px;
  padding-left: 33px;
  padding-top: 28px;
  font-weight: 700;
  color: rgb(31, 85, 64);
}

.side-right h2 span {
  font-size: 15px;
  padding-left: 17px;
  padding-top: 8px;
  color: rgb(103, 103, 103);
}

.side-right .button {
  display: flex;
  font-family: "Montserrat";
  font-size: 12px;
  font-weight: 500;
  background-color: rgb(86, 112, 86);
  /*background-color: rgb(30, 59, 30);*/
  width: 236px;
  height: 49px;
  border-radius: 10px;
  align-items: center;
  letter-spacing: 2px;
  justify-content: center;
  color: white;
  text-decoration: none;
}
.button:hover {
  cursor: pointer;
  background-color: rgb(30, 59, 30);
}

.side-right .but {
  padding-left: 34px;
  padding-top: 20px;
}

.side-right img {
  margin: 10px;
}

.attribution {
  font-size: 11px;
  text-align: center;
  display: none;
}

.attribution a {
  color: hsl(228, 45%, 44%);
  display: none;
}
